main { font-size: 8pt; }

.container-fluid {
  text-align: center;
}

.container-fluid input {
  margin-top: 25px;
  margin-bottom: 25px;
}

.row-title {
  font-size: 9pt;
  font-weight: 500;
  padding: 10px 0 10px 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.color1 {
  background-color: #fff;
}

.color2 {
  background-color: #f4f4f4;
}

.row {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.carrot::after {
  content: "v";
  font-size: 5pt;
  margin-left: 3px;
  color: #999;
  display:inline-block;
   -webkit-transform:scale(1.5,1); /* Safari and Chrome */
   -moz-transform:scale(1.5,1); /* Firefox */
   -ms-transform:scale(1.5,1); /* IE 9 */
   -o-transform:scale(1.5,1); /* Opera */
   transform:scale(1.5,1); /* W3C */
}

.carrot.on::after {
   -webkit-transform:scale(1.5,-1); /* Safari and Chrome */
   -moz-transform:scale(1.5,-1); /* Firefox */
   -ms-transform:scale(1.5,-1); /* IE 9 */
   -o-transform:scale(1.5,-1); /* Opera */
   transform:scale(1.5,-1); /* W3C */
}
